.education-timeline {
  position: relative;
  display: flex;
  flex-direction: column;
}

.education-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 30px;
}

.education-item::before {
  content: attr(data-year);
  position: absolute;
  font-size: 1rem;
  top: 0.5rem;
  left: 320px;
  width: 10rem;
  height: 2rem;
  background-color: grey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.education-item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 404px;
  width: 1px;
  height: 110%;
  background-color: grey;
}

.title-text {
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .education-timeline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .education-item {
    font-size: 0.5rem;
  }

  .education-item::before {
    top: -2rem;
    left: 50%;
    transform: translateX(-50%); /* 通过偏移来水平居中 */
  }

  .education-item::after {
    display: none;
  }
  .education-item h4,
  .education-item h5 {
    font-size: 1rem;
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  .education-timeline {
    grid-template-columns: 1fr;
  }
  .education-item h4,
  .education-item h5 {
    font-size: 0.8rem;
    margin: 0;
  }
}
