.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
}

.experience-card {
  width: 100%;
  max-width: 800px;
  box-shadow: 0;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
}

.company-name {
  font-weight: bold;
  font-size: 20px;
}

.company-info,
.job-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-location,
.job-duration {
  font-size: 1rem;
}

.job-position {
  font-weight: bold;
  font-size: 18px;
}

.job-description {
  list-style: disc;
  padding-left: 20px;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: left;
}

.experience-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 850px) {
  .experience-body {
    grid-template-columns: 1fr;
  }
  .experience-card {
    max-width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .company-name,
  .company-location,
  .job-position,
  .job-duration {
    font-size: 0.8rem;
  }
  .job-description li {
    font-size: 0.6rem;
    margin: 0;
  }
  .experience-card {
    padding: 10px;
  }
}
