.headingImg {
  height: 60vh;
}

.headingImg {
  display: block;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

.intro-detail p {
  text-align: start;
  font-family: serif;
  color: #777;
}

.title-text {
  padding: 1rem 0 1rem 0;
  font-size: 3rem;
}
.resumeButton {
  background-color: #cfd8dc;
  margin-right: 3rem;
  transition: 0.3s ease-in-out;
  width: 200px;
}
.resumeButton:hover {
  border: none;
  background-color: #607d8b;
}

.contactButton {
  background-color: #cfd8dc;
  transition: 0.3s ease-in-out;
  width: 200px;
}
.contactButton:hover {
  border: none;
  background-color: #607d8b;
}

@media (max-width: 768px) {
  .headingImg {
    max-width: 100%;
    margin: 0 auto;
  }
}
