.al-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-item {
  padding: 10px;
  margin: 10px;
}

.grid-item i {
  color: grey;
}

@media screen and (max-width: 850px) {
  .al-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 390px) {
  .al-grid {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .grid-item {
    padding: 5x;
    margin: 5px;
  }
}
